<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.final_project_amit_and_gal">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.camera.front.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo__finish"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FaceRecoMenu"></activity>
        <activity android:name=".cards_games.VoiceReco" />
        <activity android:name=".TaskSummary" />
        <activity android:name=".WeeklySched" />
        <activity android:name=".ByCategory" />
        <activity android:name=".MainMenu" />
        <activity
            android:name=".Face_Recognition"
            android:configChanges="orientation"
            android:label="@string/app_name" />
        <activity android:name=".CheckActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FirstTimeEnter" />
        <activity android:name=".cards_games.similar_category" />
        <activity android:name=".cards_games.fix_letter_order" />
        <activity android:name=".cards_games.find_the_different_category" />
        <activity android:name=".cards_games.letters_choose" />
        <activity android:name=".cards_games.find_the_diffrent" />
        <activity android:name=".cards_games.whats_in_the_picture" />
        <activity android:name=".Face_Reco" />
        <activity android:name=".ChooseExc" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="face" />
    </application>

</manifest>